.container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  width: 400px;
  background: #ffffff;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.text {
  color: #3c3c3c;
  font-size: 2.5rem;
  font-weight: 700;
}

.underline {
  width: 60px;
  height: 5px;
  margin: 0.5rem auto;
  background-color: #3c009d;
  border-radius: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  background: #f3f3f3;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.input:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.input img {
  width: 18px;
  margin-right: 1rem;
}

.input input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.1rem;
  color: #333;
  
}

.forgot-password {
  margin-top: 1 rem;
  font-size: 0.95rem;
  color: #7d7d7d;
}

.forgot-password span {
  color: #4dafff;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
}

.forgot-password span:hover {
  color: #ff1b0b;
}

.submit-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.submit, .login {
  flex: 1;
  margin: 0.4rem;
  text-align: center;
  background: #4dafff;
  color: #fff;
  padding: 0.8rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s;
}

.submit:hover, .login:hover {
  background: #4dafff;
  transform: translateY(-2px);
}

.gray{
    background: #eaeaea;
    color: #3c3c3c;
}

@media (max-width: 640px) {
  .container {
    width: 90%;
    padding: 1.25rem;
  }

  .inputs {
    width: 100%;
    font-size: 16px;
    
  }

  .submit-container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .submit, .login {
    width: 100%;
    font-size: 1rem;
    padding: 0.65rem;
  }

  .forgot-password {
    font-size: 0.9rem;
    padding-left: 0;
    text-align: center;
  }
}
